* {
    margin: 0;
    border: none;
    background-color: transparent;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #000;
    color: #fff;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.test-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
}

.test-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 250px;
}

.img-slider img {
    max-height: 150px;
    max-width: 200px;
    object-fit: fill;
    overflow: hidden
}

.img-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;
}

